*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fontTitulo;
    src: url(./assets/fonts/chinese\ rocks\ rg.otf);
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.containerJogo{
    background-color: rgb(129, 48, 48);

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
.Jogo{
    display: flex;
    background-image: url(./assets/images/Gemini_Generated_Image_awe8w4awe8w4awe8.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.containerRegras{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    display: none;
    align-items: center;
    justify-content: center;
}

.aciona{
    display: flex;
}

.containerPergaminho{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Pergaminho{
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image:url(/assets/images/pergaminho1.webp);
    background-position: center;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    transform-origin: left;
    animation: abrePergaminho 2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}
.itensPergaminho{
    width: 40%;
    height: 80%;
    transform-origin: left;
    animation: abrePergaminho 2s ease;

    display: flex;
    flex-direction: column;
    gap: 30px;

    button{
        background-color: transparent;
        font-family: textoTitulo;
        width: auto;
        height: auto;
        border: none;
        border-radius: 10px;
        padding: 5px;
        margin: 15px;
        font-size: 2rem;
        align-self: end;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(184, 158, 111);
    }
}

.cabecaDragao{
    width: 50px;
    height: 50px;
    
    background-color: #e65715;
}

.containerConsumiveis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.consumiveisExplicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 60px;
        height: 60px;
    }
}

.textoPergaminho{
    display: flex;
    flex-direction: column;
    gap: 20px;


    h2{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
        letter-spacing: 5px;
    }
}

@keyframes abrePergaminho {
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.menuGame{
    background-color: rgb(165, 42, 42);
    background-image: url(./assets/images/aesthetic-pixel-background.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: fontTitulo;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .lanternas{
        display: flex;
        align-items: start;
        justify-content: start;
        animation: animacaoLanterna 2s ease infinite;
        transform-origin: top;
    }




    .tituloGame{
        width: auto;
        h2{
            font-size: 10rem;
        }

        .version{
            text-align: end;
            h3{
                font-size: 3rem;
            }
        }
    }
    

    .botoesGame{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button{
            font-family: fontTitulo;
            font-size: 2rem;
            width: 170px;
            height: 80px;
            cursor: pointer;
        }
    }
}

#pontuacao{
    width: 50%;
    text-align: center;
    height: auto;
    h2{
        font-family: fontTitulo;
        letter-spacing: 3px;
        color: white;
        font-size: 3rem;
    }
}

@keyframes animacaoLanterna {
    0%{
        transform:rotateX(0deg) ;
    }
    100%{
        transform: rotateY(180deg);
    }
}

.comida{
    width: auto;
    height: auto;
    background-image: url(./assets/images/9303f679e92050a.png);
    background-position: center;
    background-size: cover;
    background-size:60px;
}

.armadilha{
    width: auto;
    height: auto;
    background-image: url(./assets/images/darien-wong-beartrap-hold.gif);
    background-position: 50% 70%;
    background-size: 100px;
}

.cobraCorpo{
    width: 100%;
    height: auto;
    background-color: #c23d00;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: 100px;
}

.cobraCabeca{
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.muro{
    width: auto;
    height: auto;
    background-color: pink;
}